# Python / Django
__pycache__/
*.pyc
*.pyo
.env
venv/
env/
*.egg-info/
db.sqlite3
staticfiles/

# Node / React / Next.js
node_modules/
dist/
.next/
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
